.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

.search-box {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 260px;
  border-radius: 6px;
  border: 1px solid gray;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.aqi {
  font-size: 22px;
  font-weight: bold;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
}

.good {
  background: green;
}
.moderate {
  background: orange;
}
.sensitive {
  background: darkorange;
}
.unhealthy {
  background: red;
}
.very {
  background: purple;
}
.hazardous {
  background: maroon;
}

.error {
  color: red;
  margin-top: 15px;
}


